template(name="todoItem")
    .row-fluid
        .projectItemWrapper.col-md-12
            h2.projectTitle
                |#{thisTodo.titleShow}
                if isEditable
                    a.todoChangeStatus(href="#",data-todoId="#{todoId}",data-status="9") 
                        span.glyphicon.glyphicon-trash
                    if todoIsChecked
                        a.todoChangeStatus(href="#",data-todoId="#{todoId}",data-status="0") 
                            span.glyphicon.glyphicon-check
                    else
                        a.todoChangeStatus(href="#",data-todoId="#{todoId}",data-status="1") 
                            span.glyphicon.glyphicon-unchecked

            form.main.form
                input(type="hidden",value="#{thisTodo._id}",name="todoId")
                input(type="hidden",value="#{thisTodo.userId}",name="exam")
                if isPersonalTodo
                    input(type="hidden",value="1",name="isPersonalTodo")
                
                    .form-group
                        label.control-label(for="type") 任务类型：
                        .controls
                            label.radio-inline
                                input(type="radio", name="type", value="1", checked="#{defaultTypesCheck.type1Text}") 
                                |指定时间
                            label.radio-inline
                                input(type="radio", name="type", value="2", checked="#{defaultTypesCheck.type2Text}") 
                                |日任务
                            //- label.radio-inline
                                input(type="radio", name="type", value="3", checked="#{defaultTypesCheck.type3Text}") 
                                |周任务
                            label.radio-inline
                                input(type="radio", name="type", value="4", checked="#{defaultTypesCheck.type4Text}") 
                                |待定
                    .form-group
                        label.control-label(for="time") 任务日期：
                        .controls
                            input.form-control.datepicker(type="text", name="dueDate", value="#{dueDate}")
                    #divTimeInput.form-group
                        label.control-label(for="time") 开始时间：
                        .controls.form-inline
                            input.form-control(type="time", name="time", value="#{defaultTime}")
                            //- .input-group.timeInput
                                input.form-control(type="number",placeholder="小时", name="hour", value="#{defaultHourAndMinute.hour}")
                                span.input-group-addon :
                                input.form-control(type="number",placeholder="分钟", name="minute", value="#{defaultHourAndMinute.minute}")
                        label.control-label(for="time") 持续时间：
                        .controls.form-inline
                            .input-group.timeInput
                                input.form-control(type="text",placeholder="持续", name="duration", value="#{duration}")
                                span.input-group-addon 小时
                else
                    input(type="hidden",value="0",name="isPersonalTodo")
                    
                .form-group
                    label.control-label(for="title") 内容
                    .controls
                        input.form-control(type="text", placeholder="内容", name="title", id="title", value="#{thisTodo.title}")
                .form-group
                    label.control-label(for="note") 详情
                    .controls
                        input.form-control(type="text", placeholder="备注", name="note", id="note", value="#{thisTodo.note}")
                if isEditable
                    input.btn.btn-primary(type="submit", value="保存修改")
                    
