template(name="selectorPersonal")
    #itemsSelectors.itemsSelectors.row-fluid
        .span12
            form.form-inline
                .controls
                    label.control-label(for='startDate') 开始日期：
                    .input-group
                        input.form-control.datepicker(type="text", name="startDate", value="#{startDate}")
                        .btn-group(role='group' aria-label="...")
                            a#preWeek.btn.btn-default(href="{{pathFor route='todoMyCal' query=dateStringPreWeek}}")
                                span.glyphicon.glyphicon-menu-left(aria-hidden="true")
                            a#nextWeek.btn.btn-default(href="{{pathFor route='todoMyCal' query=dateStringNextWeek}}")
                                span.glyphicon.glyphicon-menu-right(aria-hidden="true")
                    label.control-label ｜
                    //- label.control-label(for="subjects") 筛选：
                    //- label.checkbox-inline
                    //-     input(type="checkbox", name="subjects", value="", checked="")
                    //-     |提醒
                    //- label.checkbox-inline
                    //-     input(type="checkbox", name="subjects", value="", checked="")
                    //-     |TODO
                    //- label.checkbox-inline
                    //-     input(type="checkbox", name="subjects", value="", checked="")
                    //-     |事件
                    //- label.control-label ｜
                    
                    label.control-label(for="viewCompleted") 已完成的任务：
                    label.radio-inline
                        input(type="radio", name="viewCompleted", value="0", checked="checked") 
                        |不显示
                    label.radio-inline
                        input(type="radio", name="viewCompleted", value="1") 
                        |显示
                    if isInRole 'admin' 'todo'
                        label.control-label.hidden-xs ｜
                        label.control-label.hidden-xs 查看用户：
                        select#changeUser.form-control(name="todoUsers")
                            each todoUsers
                                option(value="#{_id}") #{username}(#{nickName})
